<title>{{lang.website_dashboarcurrency_htmltitle}} - LenoxBot</title>
<script>
    var currentNavDashId = '#currency';
</script>
<main>
    {{> notification}}
    <div class="container-fluid">
        <div class="row">
            {{> nav-dashboard}}
            <div class="col-lg-10 lb-dashboard lb-mcsp">
                <div class="lb-bg-white rounded p-3">
                    <div class="card shadow-sm">
                        {{> commandsection}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>