<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <link rel="shortcut icon" href="https://imgur.com/MINCK5a.png" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117570240-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-117570240-1');
    </script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                }
            })
        });
    </script>
</head>

<body>

    {{{ body }}}

</body>
<footer>
    <section id="footer" style="margin-top: 50px;">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a href="https://lenoxbot.com/home">
                                <i class="fa fa-angle-double-right"></i>Home</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/documentation">
                                <i class="fa fa-angle-double-right"></i>Documentation</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/login">
                                <i class="fa fa-angle-double-right"></i>Login</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Shortlinks</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a href="https://lenoxbot.com/invite" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Invite LenoxBot</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/discord" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Support Discord Server</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/blog" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Visit our blog</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/ban" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Write a Ban appeal</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Social Media</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a href="https://twitter.com/lenoxbot" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/lenoxbotdiscord" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/lenoxbot" target="_blanc">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/lenoxbotdiscord" target="_blanc">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p>LenoxBot is
                        <bold>unrelated</bold> to Discord</p>
                    <p class="h6">&copy All rights reversed
                        <a class="text-green ml-2" href="https://www.lenoxbot.com">LenoxBot</a>
                    </p>
                </div>
                </hr>
            </div>
        </div>
    </section>
</footer>

</html>