<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="LenoxBot is a discord bot that offers many cool new features to your Discord Server!">
    <meta name="keywords" content="lenoxbot, discord bot, discord, bot, lenoxbot discord bot, lenoxbot discord, lenoxbot support, lenoxbot documentation, lenoxbot support, bot discord, discord">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="revisit-after" content="7 days">
    <meta name="copyright" content="Gilles Heinesch | LenoxBot">
    <link rel="icon" href="https://imgur.com/MINCK5a.png" type="image/x-icon">
    <meta name="theme-color" content="#33cc33">
    <meta name="author" content="Gilles Heinesch"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ae58d73227d3d7edc24d207/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117570240-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-117570240-1');
    </script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                }
            })
        });
    </script>
    <!-- Scroll to top bitton -->
    <script type="text/javascript">
        var scrolltotop = {
            setting: {
                startline: 100,
                scrollto: 0,
                scrollduration: 1e3,
                fadeduration: [500, 100]
            },
            controlHTML: '<img src="https://i1155.photobucket.com/albums/p559/scrolltotop/arrow44.png" />',
            controlattrs: {
                offsetx: 5,
                offsety: 5
            },
            anchorkeyword: "#top",
            state: {
                isvisible: !1,
                shouldvisible: !1
            },
            scrollup: function () {
                this.cssfixedsupport || this.$control.css({
                    opacity: 0
                });
                var t = isNaN(this.setting.scrollto) ? this.setting.scrollto : parseInt(this.setting.scrollto);
                t = "string" == typeof t && 1 == jQuery("#" + t).length ? jQuery("#" + t).offset().top : 0,
                    this.$body.animate({
                        scrollTop: t
                    }, this.setting.scrollduration)
            },
            keepfixed: function () {
                var t = jQuery(window),
                    o = t.scrollLeft() + t.width() - this.$control.width() - this.controlattrs.offsetx,
                    s = t.scrollTop() + t.height() - this.$control.height() - this.controlattrs.offsety;
                this.$control.css({
                    left: o + "px",
                    top: s + "px"
                })
            },
            togglecontrol: function () {
                var t = jQuery(window).scrollTop();
                this.cssfixedsupport || this.keepfixed(), this.state.shouldvisible = t >= this.setting.startline ?
                    !0 : !1, this.state.shouldvisible && !this.state.isvisible ? (this.$control.stop().animate({
                        opacity: 1
                    }, this.setting.fadeduration[0]), this.state.isvisible = !0) : 0 == this.state.shouldvisible &&
                    this.state.isvisible && (this.$control.stop().animate({
                        opacity: 0
                    }, this.setting.fadeduration[1]), this.state.isvisible = !1)
            },
            init: function () {
                jQuery(document).ready(function (t) {
                    var o = scrolltotop,
                        s = document.all;
                    o.cssfixedsupport = !s || s && "CSS1Compat" == document.compatMode && window.XMLHttpRequest,
                        o.$body = t(window.opera ? "CSS1Compat" == document.compatMode ? "html" :
                            "body" : "html,body"), o.$control = t('<div id="topcontrol">' + o.controlHTML +
                            "</div>").css({
                            position: o.cssfixedsupport ? "fixed" : "absolute",
                            bottom: o.controlattrs.offsety,
                            right: o.controlattrs.offsetx,
                            opacity: 0,
                            cursor: "pointer"
                        }).attr({
                            title: "Scroll to Top"
                        }).click(function () {
                            return o.scrollup(), !1
                        }).appendTo("body"), document.all && !window.XMLHttpRequest && "" != o.$control
                        .text() && o.$control.css({
                            width: o.$control.width()
                        }), o.togglecontrol(), t('a[href="' + o.anchorkeyword + '"]').click(function () {
                            return o.scrollup(), !1
                        }), t(window).bind("scroll resize", function (t) {
                            o.togglecontrol()
                        })
                })
            }
        };
        scrolltotop.init();
    </script>
    <!-- Scroll to top bitton -->
</head>

<body>

    {{{ body }}}

</body>
<footer>
    <section id="footer" style="margin-top: 50px;">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a href="https://lenoxbot.com/home">
                                <i class="fa fa-angle-double-right"></i>Home</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/documentation">
                                <i class="fa fa-angle-double-right"></i>Documentation</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/login">
                                <i class="fa fa-angle-double-right"></i>Login</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/donate">
                                <i class="fa fa-angle-double-right"></i>Donate now!</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Shortlinks</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a href="https://lenoxbot.com/invite" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Invite LenoxBot</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/discord" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Support Discord Server</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/blog" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Visit our blog</a>
                        </li>
                        <li>
                            <a href="https://lenoxbot.com/ban" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Write a Ban appeal</a>
                        </li>
                        <li>
                            <a href="http://go.ludus-hosting.de/lenoxbot" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>LudusHosting (Partner)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Social Media</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a href="https://twitter.com/lenoxbot" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/lenoxbotdiscord" target="_blanc">
                                <i class="fa fa-angle-double-right"></i>Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/lenoxbot" target="_blanc">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/lenoxbotdiscord" target="_blanc">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p>LenoxBot is
                        <bold>unrelated</bold> to Discord</p>
                    <p class="h6">&copy All rights reversed
                        <a class="text-green ml-2" href="https://www.lenoxbot.com">LenoxBot</a>
                    </p>
                </div>
                </hr>
            </div>
        </div>
    </section>
</footer>

</html>