  <header id="header">
        <nav class="navbar">
            <ul>
            <li>
                <a href="home" class="text text-size-normal text-white navbar-button">Home</a>
            </li>
            <li>
                <a href="documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
            </li>
            <li>
                <a href="http://invite.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button">Invite LenoxBot</a>
            </li>
            <li>
                <a href="http://discord.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button">Discord Server</a>
            </li>
            <li>
                {{#if user}}
                <a href="servers" class="text text-size-normal text-white navbar-button">Dashboard <span class="label label-danger">BETA</span></a>
                {{/if}}
            </li>
            <li>
                {{#if user}}
                <a href="logout" class="text text-size-normal text-white navbar-button">Log out</a>
                {{ else }}
                <a href="login" class="text text-size-normal text-white navbar-button">Log in</a>
                {{/if}}
            </li>
        </ul>
        </nav>
        </div>
    </header>

    <main>
        <div class="error404">
        <p class="text-white text-size-big text">Error404</p>
        <p class="text-white text-size-normal text">Page not found!</p>
        </div>
        <a href="home" class="text text-white button text-size-caption error404-homebutton">Home</a>
    </main>

    <footer>
        <nav class="footer-navigation">
            <a target="blank" class="text text-size-small text-white" href="http://lenoxbot.com">&copy; LenoxBot
            </a>
            <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </nav>
    </footer>