<title>Thank you! - LenoxBot</title>
<script>
    var DonateId = '#donate';
</script>
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center py-5 lb-bg-100vh">
                    <div class="lb-donate-heart mb-3"><i class="mdi mdi-heart lb-text-red display-1"></i>
                    </div>
                    <p class="font-weight-light display-4 lb-text-green">Thank you so much for your donation!</p>
                    <p class="font-weight-light text-white h4">We really appreciate your support! We hope you will have
                        fun with
                        your premium features!</p>
                </div>
            </div>
        </div>
    </div>
</main>