<title>Error - LenoxBot</title>
<main>
    <div class="container lb-bg-100vh">
        <div class="alert alert-danger mt-3" role="alert">
            <p class="h3">Error {{statuscode}}</p>
            <p class="h5">{{message}}</p>
        </div>
        {{#if fix}}
        <div class="howtofix">
            <p class="h3 text-white">How to fix?</p>
            <p class="h5 text-white">{{howtofix}}</p>
        </div>
        {{/if}}
    </div>
</main>