<title>Jecsham's Profile - LenoxBot</title>
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4 text-center">
                    <div class="card lb-profile-user-card shadow mb-3 mt-5">
                        <div class="card-body">
                            <figure class="lb-profile-user-img">
                                <img id="icon-selectserver" class="rounded-circle" src="https://cdn.discordapp.com/avatars/219645175167844352/a_51faac2fb0961063ff2020c4d16ef3b3.jpg"
                                    height="120" width="120">
                            </figure>
                            <h1 class="mt-5">Jecsham<small class="text-muted">#0001</small></h1>
                            <p class="h4 font-weight-light text-center">This is a cool description, so, to the moon is
                                a good game <i class="mdi mdi-pencil"></i></p>
                        </div>
                    </div>
                    <div class="card-columns">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Stats</h3>
                                <div class="row">
                                    <div class="col-4 p-0"><small>LEVEL</small>
                                        <p class="h1">43</p>
                                        <div class="progress m-3" style="height: 3px;">
                                            <div class="progress-bar lb-profile-progress" role="progressbar" style="width: 25%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-4 p-0"><small>POINTS</small>
                                        <p class="h1">34.2K</p>
                                    </div>
                                    <div class="col-4 p-0"><small>GLOBAL RANK</small>
                                        <p class="h1">3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Inventory</h3>
                                <div class="row">
                                    <div class="col-3 p-0">🥣x2K</div>
                                    <div class="col-3 p-0">🥄x142</div>
                                    <div class="col-3 p-0">🔥x1</div>
                                    <div class="col-3 p-0">🥕x84</div>
                                    <div class="col-3 p-0">❤x2</div>
                                    <div class="col-3 p-0">🌼x1</div>
                                    <div class="col-3 p-0">🌹x1</div>
                                    <div class="col-3 p-0">🎂x85</div>
                                    <div class="col-3 p-0">🍎x2K</div>
                                    <div class="col-3 p-0">🚗x1</div>
                                    <div class="col-3 p-0">✈x188</div>
                                    <div class="col-3 p-0">🚁x823</div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Social <i class="mdi mdi-pencil"></i></h3>
                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                    <a href="#" class="lb-profile-social lb-profile-social-twitch"><i class="mdi mdi-twitch"></i></a>
                                    <a href="#" class="lb-profile-social lb-profile-social-youtube"><i class="mdi mdi-youtube"></i></a>
                                    <a href="#" class="lb-profile-social lb-profile-social-twitter"><i class="mdi mdi-twitter"></i></a>
                                    <a href="#" class="lb-profile-social lb-profile-social-instagram"><i class="mdi mdi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Badges</h3>
                                <div class="row">
                                    <div class="col-3 p-0 lb-profile-badge ">🥇</div>
                                    <div class="col-3 p-0 lb-profile-badge ">🥈</div>
                                    <div class="col-3 p-0 lb-profile-badge ">🥉</div>
                                    <div class="col-3 p-0 lb-profile-badge ">🏆</div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Titles <i class="mdi mdi-pencil"></i></h3>
                                    <ul class="text-left">
                                        <li>Call me God, please <small class="text-muted">(Using)</small></li>
                                        <li>Developer</li>
                                        <li>Donor</li>
                                        <li>Dragons Tamer</li>
                                        <li>Barcos y Frutas</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>