<title>Dashboard - LenoxBot</title>
<script>
	var currentNavDashId = '#overview';
</script>


<main>
	<div class="container-fluid">
		<div class="row">
			{{> nav-dashboard}}
			<div class="col-lg-10 lb-dashboard lb-mcsp">
				<div class="lb-bg-white rounded p-3">
					<div class="card shadow-sm">
						<div class="card-header">
							<p class="h5">All logs:</p>
						</div>
						<div class="card-body">
							<div class="form-group">
								<input class="form-control lb-input" id="search-input" type="text" placeholder="Search...">
							</div>
							<table class="table table-bordered table-responsive-sm table-striped" id="table">
								<!-- Header of logs -->
								<tr>
									<th>Action</th>
									<th>Executor</th>
									<th>Date</th>
								</tr>
								<!-- Header of logs -->
								{{#if logs}} {{#each logs}}
								<tr>
									<td>{{action}}</td>
									<td>{{username}}</td>
									<td>{{showeddate}}</td>
								</tr>
								{{/each}} {{else}}
								<tr>
									<td>None</td>
									<td>None</td>
									<td>None</td>
								</tr>
								{{/if}}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="/js/commands.js"></script>