<title>{{lang.website_donate_htmltitle}} - LenoxBot</title>
<script>
    var DonateId = '#donate';
</script>
<main>
    <div class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="p-3">
                        <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/lenoxbot?show_content=true"
                            height="685px" width="100%" style="max-width:100%; min-width:100%; max-height:none!important"
                            seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>