<title>{{lang.website_donationsuccess_htmltitle}} - LenoxBot</title>
<script>
    var DonateId = '#donate';
</script>
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center py-5 lb-bg-100vh">
                    <div class="lb-donate-heart mb-3"><i class="mdi mdi-heart lb-text-red display-1"></i>
                    </div>
                    <p class="font-weight-light display-4 lb-text-green">{{lang.website_donationsuccess_thanks}}</p>
                    <p class="font-weight-light text-white h4">{{lang.website_donationsuccess_thanks2}}</p>
                </div>
            </div>
        </div>
    </div>
</main>