<main>
    <section id="policy" class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 my-3 text-center">
                    <h1>Thank you!</h1>
                    <p>The form was submitted successfully!<br>
                    It can take up to 48 hours until we will process your request. Please be patient.</p>
                </div>
            </div>
        </div>
    </section>
</main>