<script src='script/mainscript.js'></script>
<header id="header">
    <nav class="navbar" role="navigation">
        <div class="logo navbar-brand">
            <span class="navbar-toggler-icon">
                <img class="d-inline-block align-top" src="https://i.imgur.com/MINCK5a.png" height="30" width="30" alt="">
            </span>
            <p class="text text-size-big text-white navbar-toggler" style="float:right;">LenoxBot</p>
        </div>
            <ul class="nav navbar-nav" id="navbar-header">
                <li class="nav-item">
                    <a href="home" class="text text-size-normal text-white navbar-button" id="active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
                </li>
                <li class="nav-item">
                    <a href="https://medium.com/lenoxbot" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Blog
                        <span class="label label-info">NEW</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://invite.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Invite LenoxBot</a>
                </li>
                <li class="nav-item">
                    <a href="http://discord.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Discord Server</a>
                </li>
                <li class="nav-item">
                    {{#if user}}
                    <a href="servers" class="text text-size-normal text-white navbar-button">Dashboard
                        <span class="label label-danger">ALPHA</span>
                    </a>
                    {{/if}}
                </li>
            </ul>
        <div class="navbar" id="loginbutton">
            {{#if user}}
            <a href="logout" class="text text-size-normal navbar-button" style="color: black;">Log out</a>
            {{ else }}
            <a href="login" class="text text-size-normal navbar-button" style="color: black;">Log in</a>
            {{/if}}
        </div>
    </nav>

    <div class="lenoxbot-shortdescription">
        <p class="text text-size-big page-sub-header">LenoxBot helps you to moderate your server more easily and offers your users more fun with different commands</p>
    </div>
    <div id="buttonholder">
        <a target="blank" class="text text-size-normal text-white active-button btn btn-lg" href="https://discordapp.com/oauth2/authorize?client_id=354712333853130752&scope=bot&permissions=8">
            <i class="fa fa-plus" aria-hidden="true"></i> Invite</a>
        <p id="toFeatures" class="text text-size-normal text-white active-button btn btn-lg" style="margin-left: 80px;">
            <i class="fa fa-caret-down" aria-hidden="true"></i> Show me more!</p>
    </div>
</header>
<main>
    <section id="features" class="pb-5">
        <div class="container">
            <p class="text text-size-big text-white section-caption">
                <i class="fa fa-star" aria-hidden="true"></i> Features</p>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside shadow">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="https://image.flaticon.com/icons/svg/53/53063.svg" alt="card image">
                                        </p>
                                        <h4 class="card-title">Many commands</h4>
                                        <p class="card-text">LenoxBot offers you a large number of commands so that you and your DiscordServer
                                            users can have fun together!</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside shadow">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Many commands</h4>
                                        <p class="card-text">The commands we program will make moderation easier on your Discord server, and your
                                            users will definitely have more fun!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside shadow">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="https://d30y9cdsu7xlg0.cloudfront.net/png/252398-200.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">Configurable</h4>
                                        <p class="card-text">Almost every feature of the bot gives you the ability to customize it to your discord
                                            server ...</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside shadow">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Configurable</h4>
                                        <p class="card-text">From A to Z, you can customize almost all features of the bot to your Discord Server.
                                            These include, for example, the prefix, the language, ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside shadow">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="https://www.freeiconspng.com/uploads/free-icon-png-17.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">Free</h4>
                                        <p class="card-text">You can use the bot for free without having to pay a $1!</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside shadow">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Free</h4>
                                        <p class="card-text">We want to offer the discord users a bot where you do not have to pay anything and
                                            have a lot of functions. There is, of course, the opportunity to donate and get
                                            some extra features but otherwise the bot is free!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside shadow">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="https://cdn2.iconfinder.com/data/icons/thin-charts-analytics/24/thin-1086_kpi_dashboard_monitor-512.png"
                                                alt="card image">
                                        </p>
                                        <h4 class="card-title">Dashboard</h4>
                                        <p class="card-text">Our new dashboard offers you the possibility to change the settings of the bot via
                                            the website</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside shadow">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Dashboard</h4>
                                        <p class="card-text">Our dashboard is still in alpha phase but you can already change some settings on
                                            our website. It is much more comfortable than having to adjust everything via
                                            the bot....</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside shadow">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="https://cdn2.iconfinder.com/data/icons/sports-attitudes/1451/run-512.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">Fast</h4>
                                        <p class="card-text">Our bot runs on highly dedicated servers, so there are short reaction times</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside shadow">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Fast</h4>
                                        <p class="card-text">It took us a long time to reduce the response time of the bot so that the bot gives
                                            a response to an entered command as fast as possible...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside shadow">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="https://png.icons8.com/metro/1600/online.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">99.99% uptime</h4>
                                        <p class="card-text">The bot is always online unless there are maintenance times</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside shadow">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">99.99% uptime</h4>
                                        <p class="card-text">We carry out maintenance times of a maximum of 2 days 1-3 times a year, otherwise
                                            the bot is always online! We want to offer the users a bot to rely on</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="documentation">
        <p class="text text-size-big text-white section-caption">
            <i class="fa fa-star" aria-hidden="true"></i> Documentation</p>
        <div id="documentationlink">
            <a href="/documentation" class="text text-size-normal text-white active-button btn btn-dark btn-lg">Visit our documentation</a>
        </div>
    </div>
    <div id="support">
        <p class="text text-size-big text-white section-caption">
            <i class="fa fa-question-circle" aria-hidden="true"></i> Support</p>
        <p class="text text-size-normal">If you have any questions / suggestions/ bugs / feedback, you can join our Discord Server:</p>
        <a target="blank" class="text text-size-normal text-white active-button btn btn-dark btn-lg" href="https://discord.gg/5mpwCr8">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Join</a>
    </div>
    <div id="endline">
        <div id="avatarhold" style="margin-right: 150px !important;">
            <img id="avatar" src="https://imgur.com/Bk9TIfE.png" alt="LenoxBot Avatar">
        </div>
        <p id="avatartext" class="text text-size-normal text-white">At the moment we have a small community but it does not depend on the quantity but on the quality</p>
    </div>
    <div id="topholder">
        <p id="toTop" class="text text-size-normal text-white active-button btn btn-lg">
            <i class="fa fa-arrow-up" aria-hidden="true"></i> To the top!</p>
    </div>
</main>
    <footer>
        <nav class="footer-navigation">
            <p target="blank" class="text text-size-small text-white">&copy; LenoxBot
            </p>
            <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </nav>
    </footer>