<title>LenoxBot Moderation - LenoxBot</title>
<main>
    <section class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 my-4">
                    <h3 class="font-weight-light">Categories <button
                            class="btn lb-btn-trans-black d-lg-none float-right" id="toggle-menu"><i
                                class="mdi mdi-menu"></i></button></h3>
                    <div id="list-modules" class="list-group menu">
                        <button class="list-group-item list-group-item-action lb-btn-list" id="banappeals">Ban
                            appeals</button>
                            <button disabled class="list-group-item list-group-item-action lb-btn-list" id="discordserverpages">Discord Server pages <span class="badge badge-danger">SOON</span>
                            </button>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-12 pr-0 mt-4">
                            <h3 class="font-weight-light">LenoxBot Moderation Panel</h3>
                        </div>
                        <div class="col-12 lb-modertation pr-0">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>