<header id="header">
    <nav class="navbar">
        <ul>
            <li>
                <a href="home" class="text text-size-normal text-white navbar-button">Home</a>
            </li>
            <li>
                <a href="documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
            </li>
            <li>
                <a href="http://invite.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button">Invite LenoxBot</a>
            </li>
            <li>
                <a href="http://discord.lenoxbot.com" target="blanc" class="text text-size-normal text-white navbar-button">Discord Server</a>
            </li>
            <li>
                {{#if user}}
                <a href="servers" class="text text-size-normal text-white navbar-button">Dashboard</a>
                {{/if}}
            </li>
            <li>
                {{#if user}}
                <a href="logout" class="text text-size-normal text-white navbar-button">Log out</a>
                {{ else }}
                <a href="login" class="text text-size-normal text-white navbar-button" id="active">Log in</a>
                {{/if}}
            </li>
        </ul>
    </nav>
    </div>
</header>

<main>
    <div class="container">
        {{#if notloggedin}}
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Not logged in!</strong> You have to login before you can access to the dashboard! 
        </div>
        {{/if}}
        <div id="oauth2button">
            <a href="loginpressedbutton" class="text-white text button btn-lg btn-primary" id="oauth2button">Login through Discord!</a>
        </div>
    </div>
</main>

<footer>
    <nav class="footer-navigation">
        <a target="blank" class="text text-size-small text-white" href="http://lenoxbot.com">&copy; LenoxBot
        </a>
        <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </nav>
</footer>