<title>Login - LenoxBot</title>
<header id="header">
    <nav class="navbar" role="navigation">
        <div class="logo navbar-brand">
            <span class="navbar-toggler-icon">
                <img class="d-inline-block align-top" src="https://i.imgur.com/MINCK5a.png" height="30" width="30" alt="">
            </span>
            <p class="text text-size-big text-white navbar-toggler" style="float:right;">LenoxBot</p>
        </div>
        <ul class="nav navbar-nav" id="navbar-header">
            <li class="nav-item">
                <a href="home" class="text text-size-normal text-white navbar-button">Home</a>
            </li>
            <li class="nav-item">
                <a href="documentation" class="text text-size-normal text-white navbar-button">Documentation</a>
            </li>
            <li class="nav-item">
                <a href="https://medium.com/lenoxbot" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Blog
                    <span class="label label-info">NEW</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://lenoxbot.com/invite" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Invite LenoxBot</a>
            </li>
            <li class="nav-item">
                <a href="https://lenoxbot.com/discord" target="blanc" class="text text-size-normal text-white navbar-button nav-link">Discord Server</a>
            </li>
            <li class="nav-item">
                {{#if user}}
                <a href="servers" class="text text-size-normal text-white navbar-button">Dashboard
                    <span class="label label-danger">ALPHA</span>
                </a>
                {{/if}}
            </li>
        </ul>
        <div class="navbar" id="loginbutton">
        {{#if user}}
        <a href="logout" class="text text-size-normal navbar-button" style="color: black;">Log out</a>
        {{ else }}
        <a href="login" class="text text-size-normal navbar-button" style="color: black;">Log in</a>
        {{/if}}
    </div>
    </nav>
    </div>
</header>

<main>
    <div class="container">
        {{#if notloggedin}}
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Not logged in!</strong> You have to login before you can access to the dashboard! 
        </div>
        {{/if}}
        <div id="oauth2button">
            <a href="loginpressedbutton" class="text-white text button btn-lg btn-primary" id="oauth2button">Login through Discord!</a>
        </div>
    </div>
</main>

    <footer>
        <nav class="footer-navigation">
            <p target="blank" class="text text-size-small text-white">&copy; LenoxBot
            </p>
            <a id="twitter" target="blank" class="text text-size-small text-white" href="https://twitter.com/lenoxbot">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
        </nav>
    </footer>