<title>Error - LenoxBot</title>
<main>
    <div class="container lb-bg-100vh">
        <div class="mt-5">
            <p class="h5 lb-text-red mb-3">There was a problem logging you through Discord! Please try it again!</p>
            <a href="https://dashboardtest.lenoxbot.com/callback" class="btn lb-btn-invite" id="oauth2button"> <i class="mdi mdi-discord"></i>
                Login through Discord!</a>
        </div>
    </div>
</main>