<main>
    <section id="policy" class="lb-bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 my-3">
                    <h3>According to &sect; 5 TMG</h3>
                    <h4><br />Gilles Heinesch</h4>
                    <p>E-mail: <a href="mailto:lenoxbot@gmail.com">lenoxbot@gmail.com</a></p>
                    <h3><br />Liability for content</h2>
                        <p>As a service provider we are in accordance with &sect; 7 Abs.1 TMG for own content on
                            these
                            pages
                            after the<br />responsible for general laws. According to &sect;&sect; 8 to 10 TMG we are
                            not
                            as a
                            service provider<br />obliged to monitor transmitted or stored third-party information or
                            according
                            to
                            circumstances<br />research that indicates unlawful activity.<br />Obligations to remove or
                            block
                            the
                            use of information according to the general<br />Laws remain unaffected. A liability in
                            this
                            regard,
                            however, is only from the date of<br />Knowledge of a concrete infringement possible. Upon
                            becoming
                            aware of appropriate<br />Violations, we will remove this content immediately.</p>
                        <h3><br />Liability for links</h3>
                        <p>Our offer contains links to external websites of third parties on whose contents we have
                            no
                            influence.<br />Therefore, we can not assume any liability for these external contents. For
                            the
                            contents of<br />linked pages is always the respective provider or operator of the pages
                            responsible.
                            The linked<br />Pages were checked for possible legal violations at the time of linking.
                            Unlawful
                            content<br />were not recognizable at the time of linking.<br />However, a permanent
                            content
                            control of
                            the linked pages is without concrete evidence of a<br />Infringement unreasonable. Upon
                            notification of
                            violations, we will be such links<br />remove immediately.</p>
                        <h3><br />Copyright</h2>
                            <p>The contents and works on these sides created by the side operators are subject to the
                                German<br />2/4<br />Copyright.
                                Duplication, editing, distribution and any kind of exploitation outside the<br />Limits
                                of
                                copyright
                                require the written consent of the respective author or creator.<br />Downloads and
                                copies of
                                this
                                site
                                are for private, non-commercial use only.<br />As far as the contents on this side were
                                not
                                created
                                by
                                the operator, the copyrights of third parties<br />respected. In particular contents of
                                third
                                parties
                                are marked as such. Should you still on one<br />Copyright infringement attention, we
                                ask for a
                                notice.
                                at<br />We will immediately remove such content if we become aware of any violations.</p>
                </div>
            </div>
        </div>
    </section>
</main>