<!DOCTYPE html>
<html>
  <head>
    {{> head }}
  </head>
  <body>
    <div class="lb-body-bg">
      <div id="page">
        {{> navigation }}
        {{{ body }}}
      </div>
    </div>
    {{> scripts }}
  </body>
</html>
